# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
docs/static/cards/*.png filter=lfs diff=lfs merge=lfs -text
docs/static/cards/*.webp filter=lfs diff=lfs merge=lfs -text
